---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Article from "../components/Article.astro";
import DarkArticle from "../components/DarkArticle.astro";
import CleanArticle from "../components/CleanArticle.astro";
import Footer from "../components/Footer.astro";
import CardImage from "../components/CardImage.astro";
import Aside from "../components/Aside.astro";
import CardColums from "../components/CardColums.astro";
import DropdwonSection from "../components/DropdwonSection.astro";
---

<Layout>
  <body class="overflow-x-hidden tracking-wide">
    <header class="relative z-40">
      <Navbar />

      <DropdwonSection hasGrid>
        <div
          slot="grid"
          class="grid grid-rows-2 grid-cols-3 gap-x-10 gap-y-4 max-w-3xl pr-10 animate-fade-down animate-duration-300 animate-ease-in"
        >
          <CardImage tittle="Model S" href="/images/vehicle-1.avif" />
          <CardImage tittle="Model 3" href="/images/vehicle-2.avif" />
          <CardImage tittle="Model X" href="/images/vehicle-3.avif" />
          <CardImage tittle="Model Y" href="/images/vehicle-4.avif" />
          <CardImage tittle="Cybertruck" href="/images/vehicle-5.avif" />
          <CardImage
            tittle="Help Me Choose"
            href="/images/vehicle-6.avif"
            primaryLink="Get Started"
            hasJustOneLink
          />
        </div>

        <div slot="aside">
          <Aside
            arrayTexts={[
              "Inventory",
              "Used Cards",
              "Demo Drive",
              "Trade-in",
              "Compare",
              "Help Me Charge",
              "Fleet",
              "Semi",
              "Roadster",
            ]}
          />
        </div>
      </DropdwonSection>

      <DropdwonSection hasGrid>
        <div
          slot="grid"
          class="grid grid-cols-3 gap-x-12 gap-y-4 pr-10 max-w-3xl animate-fade-down animate-duration-300 animate-ease-in"
        >
          <CardImage tittle="Solar Panels" href="/images/solar-1.avif" />
          <CardImage tittle="Solar Roof" href="/images/solar-2.avif" />
          <CardImage tittle="Powerwall" href="/images/solar-3.avif" />
          <CardImage
            tittle="Megapack"
            href="/images/solar-4.avif"
            hasJustOneLink
          />
        </div>

        <div slot="aside">
          <Aside
            arrayTexts={[
              "Schedula a Consultation",
              "Why Solar",
              "Incentives",
              "Support",
              "Partner with Tesla",
              "Commercial",
              "Utilities",
            ]}
          />
        </div>
      </DropdwonSection>

      <DropdwonSection hasGrid height="65">
        <div
          slot="grid"
          class="grid grid-cols-3 gap-x-12 max-w-3xl pr-10 animate-fade-down animate-duration-300 animate-ease-in"
        >
          <CardImage
            tittle="Charging"
            href="/images/charge-1.avif"
            hasJustOneLink
          />
          <CardImage
            tittle="Home Charging"
            href="/images/charge-2.avif"
            secondLink="Shop"
          />
          <CardImage
            tittle="Supercharging"
            href="/images/charge-3.avif"
            secondLink="Find"
          />
        </div>

        <div slot="aside">
          <Aside
            arrayTexts={[
              "Help Me Charge",
              "Charging Calculator",
              "Charging With NACS",
              "Supercharger Volting",
              "Host a Supercharger",
              "Commercial Charging",
              "Host Wall Connectors",
            ]}
          />
        </div>
      </DropdwonSection>

      <DropdwonSection height="65">
        <CardColums
          column1={[
            "Demo Drive",
            "Insurance",
            "Video Guides",
            "Customer Stories",
            "Events",
          ]}
          column2={[
            "Find Us",
            "Find a Collision Center",
            "Find a Certified Installer",
          ]}
          column3={["About", "Careers", "Investor Relations"]}
          tittles={["Resources", "Location Services", "Company"]}
        />
      </DropdwonSection>

      <DropdwonSection height="50">
        <div
          class="h-full flex max-w-3xl mx-auto pt-[100px] pb-12 animate-fade-down animate-duration-300 animate-ease-in"
        >
          <div class="flex flex-col items-center justify-center">
            <a href="#" class="">
              <img
                src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Charging.png"
                alt=""
                class=""
              />
            </a>

            <h3 class="font-semibold text-lg text-center text-gray-800">
              Charging
            </h3>
          </div>

          <div class="flex flex-col items-center justify-center">
            <a href="#" class="">
              <img
                src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Vehicle-Accessories.png"
                alt=""
                class=""
              />
            </a>

            <h3 class="font-semibold text-lg text-center text-gray-800">
              Vehicle Accessories
            </h3>
          </div>

          <div class="flex flex-col items-center justify-center">
            <a href="#" class="">
              <img
                src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Apparel.png"
                alt=""
                class=""
              />
            </a>

            <h3 class="font-semibold text-lg text-center text-gray-800">
              Apparel
            </h3>
          </div>

          <div class="flex flex-col items-center justify-center">
            <a href="#" class="">
              <img
                src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Lifestyle.png"
                alt=""
                class=""
              />
            </a>

            <h3 class="font-semibold text-lg text-center text-gray-800">
              Lifestyle
            </h3>
          </div>
        </div>
      </DropdwonSection>
    </header>

    <main>
      <Article
        title="Model Y"
        strong="0.99"
        primarySubtitle="% APR Financing"
        href={"/images/section-1.avif"}
        paragraph="From $299/mo¹ Lease After Est. Gas Savings"
        primaryBtn="Order Now"
        secondaryBtn="Demo Drive"
      />

      <Article
        title="Model 3"
        subtitle="From $33,990²"
        href={"/images/section-2.avif"}
      />

      <Article
        title="Model X"
        subtitle="From $63,990³"
        href={"/images/section-3.avif"}
      />

      <Article
        title="Model S"
        subtitle="From $66,490⁴"
        href={"/images/section-4.avif"}
      />

      <DarkArticle href="/images/section-5.avif" />

      <CleanArticle href="/images/section-6.avif" hasSecondaryBtn={true} ;>
        <h2 slot="title" class="text-[2.70rem] font-medium">Solar Panels</h2>
        <a
          slot="subtitle"
          href="#"
          class="underline underline-offset-4 hover:decoration-"
          >Schedule a Virtual Consultation</a
        >
      </CleanArticle>

      <CleanArticle href="/images/section-7.avif" hasSecondaryBtn>
        <h2 slot="title" class="text-[2.70rem] font-medium text-zinc-900">
          Solar Roof
        </h2>

        <p slot="subtitle" class="pt-3 text-zinc-900">
          Produce Clean Energy From Your Roof
        </p>
      </CleanArticle>

      <CleanArticle href="/images/section-8.avif" hasSecondaryBtn>
        <h2 slot="title" class="text-[2.70rem] font-medium text-zinc-900">
          Powerwall
        </h2>
      </CleanArticle>

      <CleanArticle
        href="/images/section-9.avif"
        hasSecondaryBtn={false}
        primaryBtn="Shop Now"
      >
        <h2 slot="title" class="text-[2.70rem] font-medium text-zinc-900">
          Accesories
        </h2>
      </CleanArticle>
    </main>
    <Footer>
      <ul
        class="flex flex-col lg:flex-row text-zinc-300 justify-center *:px-2.5 pt-10 text-xs font-semibold"
        slot="nav-items"
      >
        <li><a href="#">Tesla © 2024</a></li>
        <li><a href="#">Privacy & Legal</a></li>
        <li><a href="#">Vehicle Recalls</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Get Updates</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </Footer>

    <script>
      const $navItems = document.querySelectorAll("#nav>li");

      const $dropdownMenuItems = document.querySelectorAll(".dropdown-menu");

      const $hero = document.querySelector("#hero");

      $navItems.forEach((item) => {
        item.addEventListener("mouseenter", (e) => handleMouse(e));
      });

      function handleMouse(e) {
        $dropdownMenuItems.forEach((item, index) => {
          if (index == e.target.value) {
            item.classList.remove("hidden");

            item.addEventListener("mouseleave", () => handleLeave());

            $hero.classList.add("blur-sm", "brightness-75");
          } else {
            item.classList.add("hidden");
          }
        });

        $navItems.forEach((item) => item.classList.remove("bg-zinc-200"));

        const elementoMarcado = document.querySelector(
          `li[value='${e.target.value}']`
        );

        elementoMarcado.classList.add("bg-zinc-200");
      }

      function handleLeave() {
        $dropdownMenuItems.forEach((item) => item.classList.add("hidden"));

        $navItems.forEach((item) => item.classList.remove("bg-zinc-200"));

        $hero.classList.remove("blur-sm", "brightness-75");
      }
    </script>
  </body>
</Layout>
