---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import DarkArticle from "../components/DarkArticle.astro";
import CleanArticle from "../components/CleanArticle.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <body class="overflow-x-hidden tracking-wide">
    <header class="relative z-40">
      <nav
        id="navbar"
        class="flex w-full items-center justify-between py-1 px-12 absolute z-30"
      >
        <div class="flex flex-grow">
          <a href="#">
            <img src="/icons/tesla-icon.svg" alt="icono tesla" />
          </a>
        </div>

        <ul
          class="flex gap-8 text-gray-700 text-[0.90rem] font-semibold *:rounded"
          id="nav"
        >
          <li id="0" value="0"><a href="#">Vehicles</a></li>

          <li id="1" value="1"><a href="#">Energy</a></li>

          <li id="2" value="2"><a href="#">Charging</a></li>

          <li id="3" value="3"><a href="#">Discover</a></li>

          <li id="4" value="4"><a href="#">Shop</a></li>
        </ul>

        <div class="flex *:px-1.5 *:py-1 items-center flex-grow justify-end">
          <div
            class="hover:bg-slate-200 transition-colors ease-in-out duration-300"
          >
            <a href="#">
              <img src="/icons/qmk-icon.svg" alt="icono pregunta" />
            </a>
          </div>

          <div
            class="hover:bg-slate-200 transition-colors ease-in-out duration-300"
          >
            <a href="#">
              <img src="/icons/world-icon.svg" alt="icono mundo" />
            </a>
          </div>

          <div
            class="hover:bg-slate-200 transition-colors ease-in-out duration-300"
          >
            <a href="#">
              <img src="/icons/user-icon.svg" alt="icono usuario" />
            </a>
          </div>
        </div>
      </nav>

      <section
        class="dropdown-menu h-[60vh] w-screen bg-white absolute hidden z-0 drop-shadow-2xl"
      >
        <div class="h-full flex ml-56 pb-16 pt-28 mr-72">
          <div class="grid grid-rows-2 grid-cols-4 gap-x-12 mr-24 max-w-5xl">
            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Vehicles-Model-S.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Model S
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Vehicles-Model-3-Performance-LHD.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Model 3
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Vehicles-Model-X.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Model X
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Vehicles-Model-Y.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Model Y
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Vehicles-Cybertruck-1x.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Cybertruck
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Vehicles-HMC-RedBlue-LHD.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Help Me Choose
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Get Started</a
                >
              </div>
            </div>
          </div>

          <aside class="w-full">
            <ul
              class="flex flex-col h-full mb-4 justify-top *:font-semibold text-gray-800 pl-20 pt-1.5 border-l gap-2"
            >
              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Inventory</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Used Cars</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Demo Drive</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Trade-in</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Compare</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Help Me Charge</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Fleet</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Semi</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Roadster</a>
              </li>
            </ul>
          </aside>
        </div>
      </section>

      <section
        class="dropdown-menu h-[45vh] w-screen bg-white absolute hidden z-0 drop-shadow-2xl"
      >
        <div class="h-full flex ml-56 pb-16 pt-28 mr-72">
          <div class="grid grid-cols-4 gap-x-12 mr-24 max-w-5xl">
            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Solar-Panels.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Solar Panel
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Solar-Roof.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Solar Roof
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Powerwall-US.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Powerwall
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Energy-Megapack.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Megapack
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >
              </div>
            </div>
          </div>

          <aside class="w-full">
            <ul
              class="flex flex-col h-full mb-4 justify-top *:font-semibold text-gray-800 pl-20 pt-1.5 border-l gap-2"
            >
              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Schedule a Consultation</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Why Solar</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Incentives</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Support</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Partner with Tesla</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Commercial</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Utilities</a>
              </li>
            </ul>
          </aside>
        </div>
      </section>

      <section
        class="dropdown-menu h-[45vh] w-screen bg-white absolute hidden z-0 drop-shadow-2xl"
      >
        <div class="h-full flex ml-80 pb-16 pt-36 mr-[30rem]">
          <div class="grid grid-cols-3 gap-x-12 mr-24 max-w-3xl pb-24">
            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img src="/images/section-1.avif" alt="" class="" />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Charging
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Charging-Home-Charging.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Home Charging
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <a href="#" class="">
                <img
                  src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Charging-Supercharging-NA.png"
                  alt=""
                  class=""
                />
              </a>

              <h3 class="font-semibold text-lg text-center text-gray-800">
                Supercharging
              </h3>

              <div
                class="*:text-xs *:underline *:underline-offset-2 *:w-full *:text-center *:m-0 *:text-gray-700"
              >
                <a href="#" class="pr-1.5 hover:decoration-2 hover:font-medium"
                  >Learn</a
                >

                <a href="#" class="pl-1.5 hover:decoration-2 hover:font-medium"
                  >Order</a
                >
              </div>
            </div>
          </div>

          <aside class="w-full">
            <ul
              class="flex flex-col h-full mb-4 justify-top *:font-semibold text-gray-800 pl-20 pt-1.5 border-l gap-2"
            >
              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Help Me Charge</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Charging Calculator</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Charging With NACS</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Supercharger Voting</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Host a Supercharger</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Commercial Charging</a>
              </li>

              <li class="hover:underline hover:decoration-2 underline-offset-4">
                <a href="#">Host Wall Connectors</a>
              </li>
            </ul>
          </aside>
        </div>
      </section>

      <section
        class="dropdown-menu h-[45vh] w-screen bg-white absolute hidden z-0 drop-shadow-2xl"
      >
        <div
          class="h-full flex items-start justify-around max-w-5xl mx-auto pt-32 pb-16"
        >
          <div class="flex flex-col justify-center">
            <p class="pb-5 text-zinc-500">Resources</p>

            <ul class="*:font-medium text-zinc-800 *:pb-2">
              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Demo Drive</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Insurance</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Video Guides</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Customer Stories</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Events</a
                >
              </li>
            </ul>
          </div>

          <div class="flex flex-col justify-center">
            <p class="pb-5 text-zinc-500">Location Services</p>

            <ul class="*:font-medium text-zinc-800 *:pb-2">
              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Find Us</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Find a Collision Center</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Find a Certified Installer</a
                >
              </li>
            </ul>
          </div>

          <div class="flex flex-col justify-center">
            <p class="pb-5 text-zinc-500">Company</p>

            <ul class="*:font-medium text-zinc-800 *:pb-2">
              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >About</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Careers</a
                >
              </li>

              <li>
                <a
                  href="#"
                  class="hover:underline decoration-2 underline-offset-4"
                  >Investor Relations</a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section
        class="dropdown-menu h-[36vh] w-screen bg-white absolute hidden z-0 drop-shadow-2xl"
      >
        <div class="h-full flex max-w-6xl mx-auto pt-[100px] pb-12 gap-24">
          <div class="flex flex-col items-center justify-center">
            <a href="#" class="">
              <img
                src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Charging.png"
                alt=""
                class=""
              />
            </a>

            <h3 class="font-semibold text-lg text-center text-gray-800">
              Charging
            </h3>
          </div>

          <div class="flex flex-col items-center justify-center">
            <a href="#" class="">
              <img
                src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Vehicle-Accessories.png"
                alt=""
                class=""
              />
            </a>

            <h3 class="font-semibold text-lg text-center text-gray-800">
              Vehicle Accessories
            </h3>
          </div>

          <div class="flex flex-col items-center justify-center">
            <a href="#" class="">
              <img
                src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Apparel.png"
                alt=""
                class=""
              />
            </a>

            <h3 class="font-semibold text-lg text-center text-gray-800">
              Apparel
            </h3>
          </div>

          <div class="flex flex-col items-center justify-center">
            <a href="#" class="">
              <img
                src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Mega-Menu-Shop-Lifestyle.png"
                alt=""
                class=""
              />
            </a>

            <h3 class="font-semibold text-lg text-center text-gray-800">
              Lifestyle
            </h3>
          </div>
        </div>
      </section>
    </header>

    <main>
      <Article
        title="Model Y"
        strong="0.99"
        primarySubtitle="% APR Financing"
        href={"/images/section-1.avif"}
        paragraph="From $299/mo¹ Lease After Est. Gas Savings"
        primaryBtn="Order Now"
        secondaryBtn="Demo Drive"
      />

      <Article
        title="Model 3"
        subtitle="From $33,990²"
        href={"/images/section-2.avif"}
      />

      <Article
        title="Model X"
        subtitle="From $63,990³"
        href={"/images/section-3.avif"}
      />

      <Article
        title="Model S"
        subtitle="From $66,490⁴"
        href={"/images/section-4.avif"}
      />

      <DarkArticle href="/images/section-5.avif" />

      <CleanArticle href="/images/section-6.avif" hasSecondaryBtn={true} ;>
        <h2 slot="title" class="text-[2.70rem] font-medium">Solar Panels</h2>
        <a
          slot="subtitle"
          href="#"
          class="underline underline-offset-4 hover:decoration-"
          >Schedule a Virtual Consultation</a
        >
      </CleanArticle>

      <CleanArticle href="/images/section-7.avif" hasSecondaryBtn>
        <h2 slot="title" class="text-[2.70rem] font-medium text-zinc-900">
          Solar Roof
        </h2>

        <p slot="subtitle" class="pt-3 text-zinc-900">
          Produce Clean Energy From Your Roof
        </p>
      </CleanArticle>

      <CleanArticle href="/images/section-8.avif" hasSecondaryBtn>
        <h2 slot="title" class="text-[2.70rem] font-medium text-zinc-900">
          Powerwall
        </h2>
      </CleanArticle>

      <CleanArticle
        href="/images/section-9.avif"
        hasSecondaryBtn={false}
        primaryBtn="Shop Now"
      >
        <h2 slot="title" class="text-[2.70rem] font-medium text-zinc-900">
          Accesories
        </h2>
      </CleanArticle>
    </main>
    <Footer>
      <ul
        class="flex text-zinc-300 justify-center *:px-2.5 pt-10 text-xs font-semibold"
        slot="nav-items"
      >
        <li><a href="#">Tesla © 2024</a></li>
        <li><a href="#">Privacy & Legal</a></li>
        <li><a href="#">Vehicle Recalls</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Get Updates</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </Footer>

    <style></style>
    <script>
      const $navItems = document.querySelectorAll("#nav>li");

      const $dropdownMenuItems = document.querySelectorAll(".dropdown-menu");

      const $hero = document.querySelector("#hero");

      $navItems.forEach((item) => {
        item.addEventListener("mouseenter", (e) => handleMouse(e));
      });

      function handleMouse(e) {
        $dropdownMenuItems.forEach((item, index) => {
          if (index == e.target.value) {
            item.classList.remove("hidden");

            item.addEventListener("mouseleave", () => handleLeave());

            $hero.classList.add("blur-sm", "brightness-75");
          } else {
            item.classList.add("hidden");
          }
        });

        $navItems.forEach((item) => item.classList.remove("bg-zinc-200"));

        const elementoMarcado = document.querySelector(
          `li[value='${e.target.value}']`
        );

        elementoMarcado.classList.add("bg-zinc-200");
      }

      function handleLeave() {
        $dropdownMenuItems.forEach((item) => item.classList.add("hidden"));

        $navItems.forEach((item) => item.classList.remove("bg-zinc-200"));

        $hero.classList.remove("blur-sm", "brightness-75");
      }
    </script>
  </body></Layout
>
